<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="request">
      <h2 data-cy="requestDetailsHeading"><span>Request</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ request.id }}</span>
        </dd>
        <dt><span>Is Valid</span></dt>
        <dd>
          <span>{{ request.isValid }}</span>
        </dd>
        <dt><span>Is Delivered</span></dt>
        <dd>
          <span>{{ request.isDelivered }}</span>
        </dd>
        <dt><span>Delivery Date</span></dt>
        <dd>
          <span>{{ request.deliveryDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ request.createdDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Comment</span></dt>
        <dd>
          <span>{{ request.comment }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ request.createdBy?.login }}</span>
        </dd>
        <dt><span>Validated By</span></dt>
        <dd>
          <span>{{ request.validatedBy?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/request', request.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
