<div>
  <h2 id="page-heading" data-cy="RequestHeading">
    <span>Requests</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-request"
        [routerLink]="['/request/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Request </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="requests?.length === 0">
    <span>No requests found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="requests && requests.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="isValid"><span>Is Valid</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="isDelivered"><span>Is Delivered</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="deliveryDate"><span>Delivery Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="createdDate"><span>Created Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="comment"><span>Comment</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="createdBy.login"><span>Created By</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="validatedBy.login"><span>Validated By</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of requests; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/request', request.id, 'view']">{{ request.id }}</a>
          </td>
          <td>{{ request.isValid }}</td>
          <td>{{ request.isDelivered }}</td>
          <td>{{ request.deliveryDate | formatMediumDate }}</td>
          <td>{{ request.createdDate | formatMediumDate }}</td>
          <td>{{ request.comment }}</td>
          <td>
            {{ request.createdBy?.login }}
          </td>
          <td>
            {{ request.validatedBy?.login }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/request', request.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/request', request.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(request)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="requests && requests.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
